div.wrapper {display: block; width: 100%; margin: 0;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {margin: 0 0 15px 0; padding: 0; font-size: 20px; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif;}
.col2 {color: #666666; background-color: #FFFFFF;}
#intro {margin: 0 auto; text-align: center; padding: 0 0 30px 0; border-bottom: 1px solid #CCCCCC;}
#intro ul {margin: 0; padding: 0; list-style: none; display: inline-block;}
#intro li {display: inline-block; width: 234px; margin: 0 8px 0 0;}
#intro li.last {margin-right: 0;}
#intro img {display: block; width: 224px; margin: 0 0 8px 0; padding: 4px; color: #666666; background-color: #FFFFFF; border: 1px solid #E9E9E9;}
#intro a {display: block; width: 234px; margin: 0; padding: 15px 0; font-weight: bold; text-align: center; overflow: hidden; color: #982216; background-color: #F8F8F8;}
.clear {clear: both;}
br.clear {clear: both; margin-top: -15px;}