{% extends 'shop1/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>X-Phone</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logoo.png' %}" style="border-radius: 50%;">
    <link rel="stylesheet" href="{% static 'css/ad_product.css' %}">
    {% endblock %}
    <style>
         
    </style>
</head>
<body>
    {% block contend %}
    <a class="home" href="{% url 'index:index' %}">Trang chủ</a>
    <div class="form">
        <a class="add_product" href="/index1/">Thêm sản phẩm</a>
        {% for post in pm %}
        <div>
            <img class="img_product" src="{{post.image.url}}" alt="" />
            <a class="bt_product" href="">{{ post.title }}</a>
            <br>
            <br>
            <a class="bt_product" href="{% url 'index:delete_product' post.id %}">Xóa</a>
            <a class="bt_product" href="{% url 'index:edit_product' post.id %}">Sửa</a>
            <p>{{ post.body }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    
</body>
</html>