
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ad_product.css' %}">
</head>
<body>
    <a class="home" href="{% url 'index:index' %}">Trang chủ</a>
    <div class="form">
        {% for post in pm %}
        <img class="img_product" src="{{post.image.url}}" alt="" />
        <a class="title_product" href="">{{ post.title }}</a>
        <p>{{ post.body }}</p>
        {% endfor %}
    </div>

</body>
</html>