{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index1.css' %}">
</head>
<body>
        <div class="ad_product">
            <form action="{% url 'index:index1' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ pn.as_p }}
                <input type="submit" value="Submit">
            </form>
            <a class="redrect" href="{% url 'index:ad_product' %}">Trang quản trị sản phẩm </a>
            <a class="redrect" href="{% url 'index:index' %}">Trang chủ </a>
        </div>

</body>
</html>
