{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Phone</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logoo.png' %}" style="border-radius: 50%;">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div>
        <form action="{% url 'UserMember:registerUser' %}" method = "post">
            {% csrf_token %}
            {{rF.as_p}}
            <input type="submit">
        </form>
    </div>
</body>
</html>